# Google OAuth Credentials
# Get your credentials: https://console.developers.google.com 
GOOGLE_CLIENT_ID=Your Google client ID
GOOGLE_CLIENT_SECRET=Your Google client secret

# MongoDB Connection String
# Get your connection string: https://account.mongodb.com/account/login
MONGODB_CLIENT=Your MongoDB connection string  

# NextAuth URLs 
NEXTAUTH_URL=The base URL of your NextAuth instance (usually your site URL)
NEXTAUTH_URL_INTERNAL=The base URL of your NextAuth instance (usually your site URL)

# NextAuth Secret Key
# Generate a random secret key
NEXTAUTH_SECRET=Your NextAuth secret key

# GitHub OAuth Credentials 
# Get your credentials: https://github.com/settings/developers
GITHUB_CLIENT_ID=Your GitHub client ID
GITHUB_CLIENT_SECRET=Your GitHub client secret